* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #111;
}

.bodymargin {
  margin: 0px;
}

@media only screen and (min-width: 768px) {
  .bodymargin {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1000px) {
  .bodymargin {
    width: 90%;
    max-width: 999px;
  }
}

/*----------------- NAV BAR -----------------*/

header {
  background-color: #3B5B3B;
  height: 90px;
}

header .logo-top {
  font-family: 'Russo One', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: white;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 55px;
}

header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 12px;
}

header nav ul li a {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

/*----------------- NAV BAR MEDIA QUERIES -----------------*/

@media only screen and (min-width: 768px) {

}


/*----------------- HERO IMAGE -----------------*/

.front-page-image {
  width: 100%;
  height: 60vh;
  max-height: 410px;
  background-image: url(../image/hearts2.2.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}

.main-text {
  display: block;
}

.front-page-image h1 {
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  font-size: 40px;
  padding: 15px 10px 0 10px;
  font-family: 'Quintessential', cursive;
}

.front-page-image h3 {
  color: white;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 0 10px 0 10px;
}

.front-page-image p {
  color: white;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0 20px 0 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

/*--------------- Buttons ------------------*/

.front-page-image .mobile-buttons {
  display: block; 
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.front-page-image .mobile-buttons li {
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  padding: 10px 5px;
  margin-left: 12px;
  background-color: #3B5B3B;
  width: 70px;
  height: 20px;
  border: 1px solid white;
}
.mobile-buttons li:hover {
  background-color: #2a412a;
}

#redbutton1 {
  background-color: #bb2818;
}

#redbutton2 {
  background-color: #bb2818;
}

#redbutton3 {
  background-color: #bb2818;
}

#redbutton1:hover {
  background-color: #992013;
}

#redbutton2:hover {
  background-color: #992013;
}

#redbutton3:hover {
  background-color: #992013;
}

.front-page-image .mobile-buttons li a {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
}


/*----------------- HERO IMAGE MEDIA QUERIES -----------------*/

@media only screen and (min-width: 768px) {
  .front-page-image {
    margin-top: 10px;
    height: 45vh;
    border-radius: 20px; /*--ADDED--*/
  }
}

@media only screen and (min-width: 1000px) {
  .front-page-image {
    margin-top: 10px;
    height: 40vh;
  }
}

/*------------------------------------------------------ INDEX.HTML ------------------------------------------------------*/

/*----------------- OPENING HOURS SECTION -----------------*/

.openinghours {
  display: block;
  background-color: #3B5B3B;
  color: white;
  text-align: center;
  padding: 25px;
  line-height: 25px;
}

.openinghours h2 {
  margin-bottom: 10px;
  font-family: 'Quintessential', cursive;
  font-size: 30px;
}

.openinghours p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

/*----------------- LYSVANDING IMAGE SECTION -----------------*/

.lightwalk {
  display: block;
  background-image: url(../image/lysvandring.JPG);
  background-size: cover;
  background-position: center;
  height: 300px;
}

/*----------------- FRONT-PAGE MEDIA QUERIES -----------------*/

@media only screen and (min-width: 768px) {
  .front-page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .openinghours {
    margin-top: 10px;
    border-radius: 20px; /*--ADDED--*/
  }

  .lightwalk {
    margin-top: 10px;
    margin-left: 10px;
    height: auto;
    border-radius: 20px; /*--ADDED--*/
  }
}

/*----------------- CORONA SECTION -----------------*/

/*-- CORONA MOBILE --*/

.corona-mobile {
  display: block;
  background-color: #111;
  color: white;
  padding: 25px;
  line-height: 25px;
}

.corona-text {
  padding: 0;
  margin: 0;
}

.corona-mobile h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Quintessential', cursive;
}

.corona-mobile p {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.corona-mobile ul {
  margin-left: 50px;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}

.corona-mobile ul li {
  list-style-type: circle;
}

/*-- CORONA DESKTOP --*/

.corona-desktop {
  display: block;
  background-color: #111;
  color: white;
  padding: 25px;
  line-height: 25px;
  margin-top: 10px;
  border-radius: 20px; /*--ADDED--*/
}

.corona-desktop h2 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Quintessential', cursive;
}

.corona-desktop p {
  margin: 5px 0 10px 0;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.corona-text-desktop1 {
  margin: 0 10px 0 10px;
}

.corona-text-desktop2 {
  margin: 0 0 0 40px;
}

.corona-text-desktop2 ul {
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
}


/*----------------- CORONA SECTION MEDIA QUERIES -----------------*/

@media only screen and (min-width: 768px) {
  .corona-mobile {
    margin-top: 10px;
    display: none;
  }

  .corona-desktop {
    display: grid;
    background-color: #3B5B3B;
    grid-template-columns: 1fr 1fr;
  }

  .corona-text {
    display: block;
    margin-left: 12vw;
  }
}

@media only screen and (max-width: 768px) {
  .corona-desktop {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .corona-text {
    margin-left: 15vw;
  }
}

/*------------------------------------------------------ BOOKING.HTML ------------------------------------------------------*/

.pricing {
  display: block;
  background-color: #111;
  color: white;
  padding: 25px;
  line-height: 25px;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
}

.pricing h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 30px;
  font-family: 'Quintessential', cursive;
}

.imgcontainer {
  margin-top: 10px;
  display: block;
}

.column {
  text-align: center;
  margin: 10px 0;
}

.column p {
  display: block;
  margin: -50px 0 0 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
  float: left;
  width: 100%;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.column img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}


/*----------------- BOOKING MEDIA QUERIES -----------------*/

@media only screen and (min-width: 768px) {
 .imgcontainer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
 }

 .column img {
  margin-top: 10px 40px;
}
}

/*------------------------------------------------------ CONTACTUS.HTML ------------------------------------------------------*/

.contact {
  display: block;
  background-color: #3B5B3B;
  color: white;
  padding: 25px;
  line-height: 25px;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;

}

.contact h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 30px;
  font-family: 'Quintessential', cursive;
}

.map {
  display: block;
  background-image: url(../image/map.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .contact {
    border-radius: 20px;
  }

  .map {
    border-radius: 20px;
    height: 400px;
  }
}

@media only screen and (min-width: 1000px) {
  .contact {
    border-radius: 20px;
  }

  .map {
    border-radius: 20px;
    height: 600px;
  }
}

/*------------------------------------------------------ PROGRAM.HTML ------------------------------------------------------*/

.program {
  display: block;
  background-color: #3B5B3B;
  color: white;
  padding: 25px;
  line-height: 25px;
}

.program h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'Quintessential', cursive;
}

.program p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.swanman {
  display: block;
  background-image: url(../image/swanman.JPG);
  background-size: cover;
  background-position: center;
  height: 300px;
}

/*----------------- BUFFET SECTION -----------------*/

/*-- BUFFET MOBILE --*/

.buffet-mobile {
  display: block;
  background-color: #111;
  color: white;
  padding: 25px;
  line-height: 25px;
}

.buffet-text {
  padding: 0;
  margin: 0;
}

.buffet-mobile h2 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Quintessential', cursive;
}

.buffet-mobile p {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.buffet-mobile ul {
  margin-left: 50px;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}

.buffet-mobile ul li {
  list-style-type: circle;
}

/*-- BUFFET DESKTOP --*/

.buffet-desktop {
  display: block;
  background-color: #111;
  color: white;
  padding: 25px;
  line-height: 25px;
  margin-top: 10px;
}

.buffet-desktop h2 {
  font-family: 'Quintessential', cursive;
  font-size: 30px;
  margin-bottom: 20px;
}

.buffet-text-desktop1 {
  padding: 0;
  margin: 0 10px 0 10px;
  font-family: 'Raleway', sans-serif;
}

.buffet-text-desktop2 {
  padding: 0;
  margin: 0 0 0 40px;
  font-family: 'Raleway', sans-serif;
}

.buffet-text-desktop1 p {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.buffet-text-desktop2 ul {
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
}


/*----------------- BUFFET SECTION MEDIA QUERIES -----------------*/

@media only screen and (min-width: 768px) {
  .buffet-mobile {
    margin-top: 10px;
    display: none;
  }

  .buffet-desktop {
    display: grid;
    background-color: #3B5B3B;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
  }

  .buffet-text {
    display: block;
    margin-left: 12vw;
  }

  .swanman {
    margin-top: 10px;
    margin-left: 10px;
    height: auto;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .buffet-desktop {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .buffet-text {
    margin-left: 15vw;
  }
}

@media only screen and (min-width: 768px) {
  .program-page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .program {
    margin-top: 10px;
    border-radius: 20px;
  }
}

/*----------------- footer -----------------*/

footer {
  display: block;
  background-color: #3B5B3B;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 20px;
  padding: 20px 0;
  float: right;
  clear: both;
  margin-top: 10px;
}

footer h4 {
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
}

footer p {
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
}
